  <p>
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :external_image_url %><br />
    <%= f.text_field :external_image_url %>
  </p>
