<h1>New story</h1>

<%= button_to("Generate a story!", generators_path, :method => :get) %>
<% form_for(@story) do |f| %>
  <%= f.error_messages %>
  <%= render "form_fields", :f => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stories_path %>

